on:
  pull_request:
  push:
    branches:
      - main

# https://github.community/t/concurrency-cancel-in-progress-but-not-when-ref-is-master/194707/4
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ startsWith(github.ref, 'refs/pull/') || github.run_number }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test_new_jdk:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - uses: sbt/setup-sbt@v1
    - uses: actions/setup-java@v5
      with:
        java-version: 25
        distribution: temurin
    - run: sbt -v --server
           scalafmtCheckAll
           scalafmtSbtCheck
           "scalafixAll --check"
           test
           publishLocal
           plugin2_12/scripted
           scalafixPlugin2_12/scripted
           "scalafixPlugin3/scripted t1/scala-3"
           warningsAll
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    strategy:
      fail-fast: false
    steps:
    - uses: actions/checkout@v6
    - uses: sbt/setup-sbt@v1
    - uses: actions/setup-java@v5
      with:
        java-version: 17
        distribution: temurin
    - run: sbt -v --server
           scalafmtCheckAll
           scalafmtSbtCheck
           "scalafixAll --check"
           test
           publishLocal
           plugin2_12/scripted
           scalafixPlugin2_12/scripted
           "scalafixPlugin3/scripted t1/scala-3"
           warningsAll
    - if: (github.event_name == 'push') && (github.ref == 'refs/heads/main')
      uses: actions/upload-artifact@v6
      with:
        name: warnings.json
        path: target/warnings/warnings.json
    - id: download_previous_warnings
      if: (github.event_name == 'pull_request') && ((github.base_ref == 'main') || (github.event.pull_request_target.base.ref == 'main'))
      uses: dawidd6/action-download-artifact@v15
      with:
        if_no_artifact_found: 'warn'
        branch: ${{ github.base_ref }}
        path: target/warnings/tmp
    - if: (github.event_name == 'pull_request') && ((github.base_ref == 'main') || (github.event.pull_request.base.ref == 'main')) && (steps.download_previous_warnings.outputs.found_artifact == 'true')
      run: mv target/warnings/tmp/warnings.json/warnings.json target/warnings/warnings-previous.json
    - if: (github.event_name == 'pull_request') && ((github.base_ref == 'main') || (github.event.pull_request.base.ref == 'main')) && (steps.download_previous_warnings.outputs.found_artifact == 'true')
      run: sbt warningsDiff
    - if: (github.event_name == 'pull_request') && ((github.base_ref == 'main') || (github.event.pull_request.base.ref == 'main')) && (steps.download_previous_warnings.outputs.found_artifact == 'true')
      run: |
        if [ -s "target/warnings/warnings.diff" ]; then
          echo "# warnings diff" >> $GITHUB_STEP_SUMMARY
          echo "" >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`diff" >> $GITHUB_STEP_SUMMARY
          cat target/warnings/warnings.diff >> $GITHUB_STEP_SUMMARY
          echo "\`\`\`" >> $GITHUB_STEP_SUMMARY
        else
          echo "# no warnings diff" >> $GITHUB_STEP_SUMMARY
        fi
    - uses: actions/github-script@v8
      if: (github.event_name == 'pull_request') && (github.base_ref == 'main') && (steps.download_previous_warnings.outputs.found_artifact == 'true') && (github.event.pull_request.user.login == 'xuwei-k')
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        script: |
          const fs = require('fs');
          const diff = fs.readFileSync("target/warnings/warnings.diff").toString();
          const body = diff.length == 0 ? "No warnings diff" : "warnings diff\n\n```diff\n" + diff + "\n```";
          github.rest.issues.createComment({
            issue_number: context.issue.number,
            owner: context.repo.owner,
            repo: context.repo.repo,
            body: body
          });
